.cartContainer {
  height: 100vh;
  width: 100vw;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
}
.loginComponentWrapper {
  height: 100vh;
  width: 100vw;
}
.navBarContainer {
  height: 7%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartHeadingText {
  height: 7%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0px 10px 2%;
}
.centerSpinnerWrapper {
  height: 50vh;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cartProductContainer {
  height: 93vh;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productItemSummeryWrapper {
  height: 100%;
  width: 85%;
  /* border: 2px solid blue; */
  display: flex;
  overflow-y: scroll;
}
.productItemWrapper {
  height: 100%;
  width: 70%;
  /* border: 5px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2%;
  overflow-y: scroll;
}
.summeryWrapper {
  height: 100%;
  width: 30%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.contactSectionContainer {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showProductCart {
  height: 30%;
  width: 80%;
  /* border: 2px solid green; */
  display: flex;
}

.cartProductImageWrapper {
  height: 100%;
  width: 30%;
  border: 0.7px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartProductDetailsWrapper {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  border: 0.7px solid gray;
  border-left: none;
}

.cartProductImag {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.headingAndPriceWrapper {
  height: 25%;
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  gap: 2%;
}

.cartProductName,
.cartProductPrice,
.productTypeShoesNaming {
  height: 100%;
  width: 68%;
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 2%;
}
.cartProductPrice {
  width: 30%;
  flex-direction: row-reverse;
  padding-right: 4%;
}
.productTypeShoesNaming {
  height: 25%;
  width: 98%;
  /* border: 1px solid green; */
  margin: none;
  padding: none;
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.7;
}

.productSizeAndColorWrapper {
  height: 25%;
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  gap: 1%;
}

.sizeText,
.colorText {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  padding-left: 2%;
  /* border: 1px solid red; */
}
.colorText {
  width: 40%;
}
.quantityWrapper {
  height: 25%;
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  gap: 1%;
  align-items: center;
}

.increaseIcon {
  height: 100%;
  width: 40%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  gap: 5%;
}
.quantityText {
  padding-left: 5%;
}
.deleteIconWrapper {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  flex-direction: row-reverse;
  cursor: pointer;
}
.deleteCart {
  font-size: 1.5rem;
  padding-right: 5%;
}

.cartSummaryTextWrapper {
  height: 45%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 3px solid green; */
}

.summeryHeadingText {
  height: 20%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 5%;
}
.subTotalWrapper {
  height: 15%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  align-items: center;
}
.deliveryChargesWrapper {
  height: 15%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  align-items: center;
}
.cartTotalAmountWrapper {
  height: 18%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  border-left: none;
  border-right: none;
  justify-content: space-between;
  padding-left: 5%;
  align-items: center;
}
.summeryButton {
  height: 31%;
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftWrap {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
}
.rightWrap {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  padding-right: 8%;
}
.summeryButtonText {
  height: 60%;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 35px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.noElementInCart {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  /* border: 2px solid green; */
  font-weight: 600;
  padding: 3%;
}
.noCartBoardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.eseentialsShopButton {
  height: 50px;
  width: 100px;
  font-size: 1rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .cartProductContainer {
    flex: none;
  }
  .productItemSummeryWrapper {
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
  }
  .showProductCart {
    height: 35%;
    width: 95%;
  }
  .cartHeadingText {
    display: none;
  }
  .productItemWrapper {
    height: 70%;
    width: 100%;
    overflow-y: scroll;
    gap: 2%;
    /* border: 1px solid red; */
  }
  .summeryWrapper {
    height: 30%;
    width: 100%;

    /* border: 1px solid green; */
  }
  .cartProductName,
  .cartProductPrice {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    font-size: 0.95rem;
    font-weight: 600;
    padding-left: 2%;
  }
  .cartProductPrice {
    width: 40%;
    flex-direction: row-reverse;
    padding-right: 4%;
  }
  .productTypeShoesNaming {
    font-size: 0.94rem;
  }
  .sizeText,
  .colorText {
    width: 40%;
    font-size: 0.94rem;
  }
  .colorText {
    width: 60%;
  }
  .cartProductImag {
    object-fit: contain;
  }
  .quantityText {
    font-size: 0.94rem;
  }
  .deleteCart {
    font-size: 1.5rem;
    padding-right: 10%;
  }
  .cartSummaryTextWrapper {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .summeryButtonText {
    height: 65%;
  }
}

/*  */
@media (min-width: 577px) and (max-width: 991px) {
  .cartProductContainer {
    flex: none;
  }
  .contactSectionContainer {
    box-sizing: border-box;
  }
  .productItemSummeryWrapper {
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
  }
  .productItemWrapper {
    height: 70%;
    width: 100%;
    overflow-y: scroll;
    gap: 2%;
  }
  .cartHeadingText {
    display: none;
  }
  .showProductCart {
    height: 35%;
    /* border: 2px solid green; */
  }
  .summeryWrapper {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cartProductName,
  .cartProductPrice {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 2%;
  }
  .cartProductPrice {
    width: 40%;
    flex-direction: row-reverse;
    padding-right: 4%;
  }
  .sizeText,
  .colorText {
    width: 40%;
    font-size: 1rem;
  }
  .colorText {
    width: 60%;
  }

  .quantityText {
    font-size: 1rem;
  }
  .deleteCart {
    font-size: 1.5rem;
    padding-right: 10%;
  }
  .cartSummaryTextWrapper {
    height: 100%;
    width: 80%;
  }
  .summeryButtonText {
    height: 65%;
  }
}
