.navbarContainer {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.nikeLogoConatainer {
  height: 100%;
  width: 10%;
  /* border: 1px solid black; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nikeLogo {
  /* font-size: 400%;
   */
  height: 100%;
  width: 80%;
}

.shoppingOptionsWrapper {
  height: 100%;
  width: 35%;
  /* border: 3px solid black; */
  display: flex;
}

.activityWrapper {
  height: 100%;
  width: 60%;
  /* border: 3px solid green; */
  display: flex;
}

.NavBarOptionsWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 6%;
  margin-left: 5%;
}

.navbarOptions {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  cursor: pointer;
}

.navbarOptoinsText {
  font-weight: 600;
}

.hoverContainer {
  position: absolute;
  top: 6%;
  right: 0%;
  height: 250px;
  width: 100%;
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 999;
  cursor: pointer;
}

.hoverOptionsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  /* border: 1px solid black; */
}

.optionContainer {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  justify-content: center;
  /* border: 1px solid black; */
}

.hoverOptionHeading {
  /* border: 1px solid black; */
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 0px;
  font-size: large;
  font-weight: 600;
}

.hoverOptionText {
  margin: 5px 0px 5px 0px;
  /* text-align: left;
  border: 1px solid black; */
}

.searchBarContainer {
  height: 100%;
  width: 70%;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBarIconContainer {
  height: 100%;
  width: 40%;
  /* border: 1px solid red; */
  display: flex;
  gap: 1%;
}
.favoriteContainer,
.cartConatainer,
.profileContainer {
  flex: 3;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileContainer {
  /* border: 2px solid red; */
  position: relative;
}

.profileMenuContainer {
  height: 200px;
  width: 150px;
  position: absolute;
  /* border: 1px solid black; */
  top: 6%;
  right: 0%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
  cursor: pointer;
  border-radius: 10px;
}
.profileMenuWrapper {
  display: flex;
  height: 25%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3%;
  /* border: 1px solid black; */
}
.profileHoverMenu {
  font-size: 1rem;
  color: rgb(51, 50, 50);
}
.profileMenuWrapper:hover {
  font-weight: 600;
  font-size: 1.1rem;
  background-color: rgb(227, 224, 224);
}
.menuIcons {
  height: 100%;
  width: 35%;
  /* border: 1px solid red; */
  justify-content: end;
}
.menuIconStyle {
  font-size: 1.1rem;
}
.profileHoverMenu {
  height: 100%;
  width: 65%;
  /* border: 1px solid green; */
  justify-content: start;
}
.menuIcons,
.profileHoverMenu {
  display: flex;
  align-items: center;
}
.linkWrapper {
  height: 100%;
  width: 100%;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBarIcons {
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

.searchBar {
  height: 65%;
  width: 96%;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 10px;
  position: relative;
  border-radius: 30px;
  border: 2px solid black;
}

.searchIcon {
  font-size: 20px;
  margin-left: 10px;
}
.seachInputFeild {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
  font-size: large;
  border-radius: 10px;
}
.signInText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  padding-right: 5%;
  cursor: pointer;
}
.searchResultContainer {
  position: absolute;
  height: auto;
  width: 40%;
  top: 100%;
  left: 43%;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
}

.closeResultWrapper {
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  justify-content: space-between;
}
.closeResultTex {
  font-size: 1.1rem;
  font-weight: 500;
}

.closeResultIcon {
  font-size: 1.4rem;
  cursor: pointer;
}

.shoeResultRow {
  height: 80px;
  width: 100%;
  display: flex;
  gap: 5%;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}
.imageWrapper {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shoeResultImage {
  height: 90%;
  width: 90%;
  object-fit: cover;
}
.shoeResultShoeName {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  .shoppingOptionsWrapper {
    display: none;
  }
  .activityWrapper {
    width: 100%;
  }
  .searchBarContainer {
    width: 95%;
  }
  .navBarIcons {
    font-size: 20px;
  }
  .searchResultContainer {
    position: absolute;
    height: auto;
    width: 100%;
    top: 100%;
    left: 0%;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
  }
  .closeResultText {
    font-weight: 600;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .shoppingOptionsWrapper {
    display: none;
  }
  .lastTwoMenu {
    display: none;
  }
  .activityWrapper {
    width: 100%;
  }
  .searchBarContainer {
    width: 100%;
  }
  .searchResultContainer {
    position: absolute;
    height: auto;
    width: 70%;
    top: 100%;
    left: 5%;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
  }
  .shoeResultRow {
    height: 90px;
  }

  .shoeResultShoeName {
    font-size: 1.2rem;
  }
}
