<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlaceOrder Page</title>
  </head>
  <body>
    <div style="font-size: 1rem; color: black">
      Hi <%= order.name%>, <br />
      Your order of
      <span style="font-weight: 600"><%= order.size%></span> Nike product of Rs
      :<span style="font-weight: 600"> <%= order.totalAmount %></span> has been
      placed successfully.

      <br />
      <br />
      <br />
      <span style="font-weight: 600">Thanks and Regards</span>,<br />
      <span style="font-weight: 600"> Team Nike</span>,<br />
    </div>
  </body>
</html>
