@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@200;500&display=swap");
.featurePageContainer {
  height: 100%;
  width: 100%;
  /* border: 10px solid red; */
}
.featureVedioWrapper {
  height: 100%;
  width: 100%;
  /* border: 5px solid green; */
}

.shopTextContainer {
  height: 40vh;
  width: 100%;
  /* border: 4px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}
.nikeFashionCarouselContainer {
  margin-bottom: 8%;
}

.headingTextWrapper {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topSmallHeadingText {
  height: 10%;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px 0px;
  /* border: 1px solid black; */
  text-align: center;
}
.topBigHeadingText {
  height: 20%;
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
  font-family: "Bangers", cursive;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 60px;
  margin: 10px 0px;
}

.topSmallExplanationText {
  height: 8%;
  width: 100%;
  /* border: 3px solid blue; */
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  margin-top: 1%;
}

.shopButton {
  height: 15%;
  width: 10%;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  border: none;
  margin-top: 2%;
  cursor: pointer;
  /* border: 1px solid red; */
}

.theLetestContainer {
  height: 85%;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.latestImageWrapper {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.theLatestShoeInfoContainer {
  height: 35vh;
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  margin-bottom: 3%;
}
.latestImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.productDisplayContainer {
  height: 70%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.productDisplayWrapper {
  height: 90%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  /* background-color: black; */
}
.productDisplay {
  position: relative;
  height: 100%;
  width: 31%;
  /* border: 1px solid black; */
}

.eseentialsShopButton {
  position: absolute;
  bottom: 12%;
  left: 10%;
  height: 40px;
  width: 90px;
  background-color: white;
  color: black;
  border-radius: 35px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.contactSectionWrapper {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shoeFeatureCarouselContainer {
  height: auto;
  width: 100%;
  margin-bottom: 5%;
}

.singleImageCarouselContainer {
  height: 45vh;
  width: 100%;
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.carouselImageWrapper {
  position: relative;
  height: 85%;
  width: 70%;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  /* border: 2px solid red; */
}
.imageWrapper {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.prevButtonContainer,
.nextButtonContainer {
  position: absolute;
  height: 35px;
  width: 35px;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}
.prevButtonContainer {
  top: 45%;
  left: -20%;
}
.nextButtonContainer {
  top: 45%;
  right: -20%;
}
.carouselIcons {
  color: white;
}

.letestTrendWrapper {
  height: 30vh;
  min-height: 270px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  border: 2px solid red;
}

.latestTrendSmallHeading {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
  font-size: 1.3rem;
  font-weight: 600;
}

.latestTrendBigHeading {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Bangers", cursive;
  font-weight: 400;
  font-size: 3.3rem;
  text-transform: uppercase;
  text-align: center;
}

.latestTrendShopButton {
  height: 45px;
  width: 120px;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  background-color: black;
  border: none;
  outline: none;
}

@media (max-width: 576px) {
  .featureVedioWrapper {
    height: 40vh;
  }
  .shopTextContainer {
    height: 35vh;
  }
  .shopButton {
    margin-top: 5%;
    height: 15%;
    font-size: 1rem;
    width: 20%;
  }
  .theLetestContainer {
    margin-top: 5%;
    height: 35vh;
  }
  .theLatestShoeInfoContainer {
    height: 35vh;
    /* border: 3px solid green; */
  }
  .topSmallExplanationText {
    display: none;
  }
  .productDisplayContainer {
    height: auto;
  }
  .sectionHeading {
    height: 70px;
    /* border: 5px solid red; */
    margin-left: 8%;
  }
  .productDisplayWrapper {
    flex-direction: column;
    gap: 15px;
  }
  .productDisplay {
    height: 500px;
    width: 90%;
    /* border: 2px solid green; */
  }
  .shoeFeatureCarouselContainer {
    display: none;
  }
  .nikeFashionCarouselContainer {
    display: none;
  }
  .singleImageCarouselContainer {
    display: flex;
  }
  .topBigHeadingText {
    font-size: 3rem;
    /* border: 1px solid green; */
  }
  .latestTrendBigHeading {
    font-size: 2.6rem;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .featureVedioWrapper {
    height: 50vh;
  }
  .shopTextContainer {
    height: 35vh;
  }
  .shopTextContainer {
    margin-bottom: 1%;
  }
  .nikeFashionCarouselContainer {
    margin-bottom: 1%;
  }
  .theLetestContainer {
    margin-top: 5%;
    height: 45vh;
    background-color: black;
  }
  .latestImageWrapper {
    margin-bottom: 0%;
  }
  .theLatestShoeInfoContainer {
    height: 35vh;
    gap: 3%;
    margin-top: 2%;
  }
  .topSmallExplanationText {
    display: none;
  }
  .productDisplayContainer {
    height: 50%;
  }
  .productDisplayWrapper {
    height: 100%;
    /* border: 2px solid green; */
  }
}
