.featurePageContainer {
  height: 100%;
  width: 100%;
  /* border: 10px solid red; */
}
.featureVedioWrapper {
  height: 100%;
  width: 100%;
  /* border: 5px solid green; */
}

.shopTextContainer {
  height: 30%;
  width: 100%;
  /* border: 4px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.headingTextWrapper {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topSmallHeadingText {
  height: 10%;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px 0px;
  /* border: 1px solid black; */
  text-align: center;
}
.topBigHeadingText {
  height: 20%;
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
  font-family: "impact";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 60px;
  margin: 10px 0px;
}

.topSmallExplanationText {
  height: 8%;
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  margin-top: 1%;
}

.shopButton {
  height: 18%;
  width: 6%;
  background-color: black;
  color: white;
  border-radius: 35px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.theLetestContainer {
  height: 100%;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.latestImageWrapper {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  background-color: white;
}

.theLatestShoeInfoContainer {
  height: 30%;
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
.latestImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.productDisplayContainer {
  height: 70%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}

.sectionHeading {
  height: 10%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
.sectionHeadingText {
  margin-left: 2%;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.productDisplayWrapper {
  height: 90%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  /* background-color: black; */
}
.productDisplay {
  position: relative;
  height: 100%;
  width: 31%;
  /* border: 1px solid black; */
}

.eseentialsShopButton {
  position: absolute;
  bottom: 12%;
  left: 10%;
  height: 40px;
  width: 90px;
  background-color: white;
  color: black;
  border-radius: 35px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.footerContainer {
  height: 35%;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  background-color: black;
  flex-direction: column;
  gap: 2%;
}

.footerTopContainer {
  height: 85%;
  width: 100%;
  display: flex;
}
.footerBottomContainer {
  height: 15%;
  width: 100%;
  display: flex;
  /* border: 1px solid white; */
}

.aboutContainer {
  height: 100%;
  width: 60%;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6%;
  /* margin-bottom: 2%; */
  gap: 1%;
}

.infoBlock {
  height: 100%;
  width: 35%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.navigationContainer {
  height: 100%;
  width: 40%;
  position: relative;
  /* border: 1px solid white; */
  /* border: 4px solid red; */
}

.infoBlockHeadingText {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  margin-top: 10%;
  margin-left: 3%;
}

.infoBlockText {
  font-size: 0.85rem;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: white;
  margin-top: 5%;
  opacity: 70%;
  margin-left: 3%;
  /* border: 2px solid red; */
}

.navigationIconsWrapper {
  height: 20%;
  width: 31%;
  position: absolute;
  color: white;
  top: 8%;
  right: 5%;
  /* border: 1px solid white; */
  display: flex;
  gap: 4%;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.navigationIcon {
  border: 1px solid white;
  height: 75%;
  width: 20%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}

.iconsCss {
  font-size: 1.5rem;
  color: black;
}
.bottomFooterLeftWrapper {
  height: 100%;
  width: 60%;
  /* border: 2px solid red; */
  display: flex;
}
.bottomFooterRightWrapper {
  height: 100%;
  width: 40%;
  /* border: 2px solid red; */
  display: flex;
}

.footerList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 5%;
  margin-right: 7%;
}

.footerList li {
  /* border: 1px solid white; */
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  opacity: 70%;
}

.locationWrapper {
  height: 100%;
  width: 15%;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  margin-left: 10%;
  gap: 5%;
}
.rightResever {
  height: 100%;
  width: 85%;
  /* border: 1px solid blue; */
}
.locationIcon {
  color: darkgray;
  font-size: 1.2rem;
  margin-left: 5%;
}
.contryName {
  color: white;
  opacity: 70%;
}

.rightResever {
  color: white;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  opacity: 70%;
}
.nikeFashionCarouselContainer {
  height: 60%;
  width: 100%;
  /* border: 3px solid green;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.shoeFeatureCarouselContainer {
  height: 60%;
  width: 100%;
  /* border: 1px solid green; */
  margin: 0% 0% 3% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newFeatureShoesContainer {
  height: 10%;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column-reverse;
  /* align-items: center; */
}

.newFeatureButton {
  height: 40%;
  width: 12%;
  border: 1px solid black;
  margin-left: 1.5%;
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
